<!DOCTYPE html>
<html>
  <head>
    <title>DemoActionText</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="head">Knowledge Base</div>
    </header>

    <!-- Menu Navigation Bar -->
    <%= render 'shared/menu_bar' %>
    <%= yield %>
    <!-- Footer Section -->
    <footer>Copyright © 2022, Beryl Systems Pvt. Ltd. All Rights Reserved.</footer>
  </body>
</html>
