<%= form_with(model: project_page) do |form| %>
  <% if project_page.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project_page.errors.count, "error") %> prohibited this project_page from being saved:</h2>

      <ul>
        <% project_page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <label>Select Project</label><br>
    <%= form.collection_select :project_id, Project.all, :id, :title, prompt: true %>
  </div><br>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %><br><br>
  </div>

  <div>
    <label>Define Task</label><br>
    <%= form.text_field :description %><br><br>
  </div>

  <div>
    <strong><%= form.label "Description", style: "display: block" %></strong><br>
    <%= form.rich_text_area :project_content %>
  </div></br>

  <div>
    <%= form.submit %>
  </div>
<% end %>



