<!DOCTYPE html>
<html>
  <head>
    <title>StylizeCreations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="head">Stylize Creations</div>
    </header>

    <!-- Menu Navigation Bar -->
    <%= render 'shared/menu_bar' %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <!-- Footer Section -->
    <footer>Copyright © 2022, Stylize Creations. All Rights Reserved.</footer>
  </body>
</html>
